/******************************************************************************
 *  version.rc
 *
 *  Part of the template for ThiefLib script modules
 *  Copyright (C) 2012-2013 Kevin Daughtridge <kevin@kdau.com>
 *
 *****************************************************************************/

// CUSTOMIZE to the short name of your module, as in the Makefile.
#define MODULE_NAME		"SampleModule"

// CUSTOMIZE to the full name of your module or mission.
#define PACKAGE_NAME		"Sample Script Module"

// CUSTOMIZE to your name or pseudonym, or leave undefined to be anonymous.
#define AUTHOR_NAME		"Kevin Daughtridge"

// CUSTOMIZE to the current year.
#define COPYRIGHT_YEAR		"2013"

// CUSTOMIZE to your module's current version, as four comma-separated integers.
#define VERSION_NUMBER		1,0,0,0

// CUSTOMIZE to your module's current version, in freeform string format.
#define VERSION_STRING		"1.0"

#include <Thief/version.rc>

